body {
  background-color: #62717b !important;
  width: 100%;
}
nav {
  height: 50px !important;
}
ul {
  list-style: none;
}
.container-fluid {
  background-color: none !important;
}
#nav-responsive {
  font-size: 20px;
}
#home-message {
  color: white;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
}
#like-button,
#event-button {
  background-color: #607d8b;
  color: white;
  border: none;
}
#like-button:hover,
#event-button:hover {
  background-color: #8eacbb;
  transition: 0.5s ease;
}
#logout {
  background-color: #ff7043;
  color: white;
  padding: 0 !important;
}
#logout:hover {
  background-color: #ffa270;
  transition: 0.5s ease;
}
#edit-user:hover,
#edit-artist:hover,
#edit-event:hover,
#edit-submit:hover,
#new-submit:hover {
  color: white;
  transition: 0.5s ease;
}
a,
#user-carousel,
#artist-carousel,
#event-carousel {
  text-decoration: none;
  color: white;
}
a:hover,
#user-carousel:hover,
#artist-carousel:hover,
#event-carousel:hover {
  text-decoration: none;
}
/* INDEXES */
.d-flex {
  flex-flow: row wrap;
}
.indexHeader {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}
.indexHeader:hover {
  text-decoration: none;
}
.indexLink {
  font-family: 'Maven Pro', sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  max-height: 100%;
}
.indexLink:hover {
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  max-height: 100%;
}
#artistCarouselPic,
#eventCarouselPic,
#userCarouselPic {
  max-width: 50%;
  max-height: 50%;
  border-radius: 100%;
}
.carousel-caption {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-bottom: 5px !important;
}
.carousel h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#artistListPic,
#eventListPic,
#userListPic {
  width: 100%;
  height: 100%;
  max-height: 200px;
  max-width: 200px;
  border-radius: 100%;
}
.picContainer-fluid {
  flex-flow: wrap;
  position: relative;
  text-align: center;
}
.picContainer-fluid:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  border-radius: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(98, 114, 123, 0.75);
}
#card-hovercard {
  padding: 10px 5px;
  align-content: center;
  border-style: none;
  background-color: #cfd8dc;
}
.card-background {
  text-align: center;
}
.card-info {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.5em;
}
.card-info a:hover {
  text-decoration: none;
}
#userShowPic,
#artistShowPic,
#eventShowPic {
  width: 100%;
  height: 100%;
  max-height: 200px;
  max-width: 200px;
  border-radius: 100%;
}
.card-title h3 {
  font-size: 36px;
}
#stars:hover {
  color: white;
}
#favorites,
#artists,
#members {
  background-color: #73767F;
  color: white;
}
#createdEvents,
#following,
#eventArtists {
  background-color: #ADB2BF;
  color: white;
}
#going,
#affiliatedArtists,
#fans {
  background-color: #CFD5E5;
  color: white;
}
.hidden-xs {
  font-family: 'Maven Pro', sans-serif;
}
#createNewEvent:hover {
  color: white;
}
#tab1 {
  font-family: 'Maven Pro', sans-serif;
}
#tab1 ul {
  font-size: 24px;
}
#tab2,
#tab3,
#tab4 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.5em;
}
#tab2 ul,
#tab3 ul,
#tab4 ul {
  font-size: 1.5em;
}
#tab2 a,
#tab3 a,
#tab4 a {
  text-decoration: none;
  color: #f4511e;
}
#tab2 a:hover,
#tab3 a:hover,
#tab4 a:hover {
  color: #1c313a;
}
.jumbotron {
  width: 100%;
  background-color: transparent !important;
  margin: 0 !important;
}
#homepage-jumbo,
#index-jumbo {
  max-height: 50vh;
  background-color: #62717b;
}
#homepage-jumbo h1,
#index-jumbo h1 {
  font-family: 'Shrikhand', cursive;
  color: #e66043;
  text-shadow: 0.5vw 0.5vw 0vw #62717b, 0.7vw 0.7vw #889DAB;
  letter-spacing: 0.7vw;
  font-size: 15vw;
  margin: 0;
}
#homepage-jumbo h3,
#index-jumbo h3 {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 4.5vw;
  color: #e2f1f8;
}
#homepage-jumbo p,
#index-jumbo p {
  font-family: 'Maven Pro', sans-serif;
  color: #e2f1f8;
}
div.container.text-center {
  padding: 0;
}
span.navbar-toggler-icon {
  color: #e2f1f8 !important;
}
a.nav-item.nav-link,
div.dropdown-menu.show,
div.dropdown-menu {
  background-color: #102027 !important;
  font-size: 20px;
  padding-left: 7px;
}
#sign-up {
  padding: 10px 15px;
}
.navbar-right {
  margin-right: 0 !important;
}
#browse,
#navbar {
  font-size: 20px;
}
#browse {
  width: 120px;
  margin: 0;
}
#browse:focus {
  background-color: rgba(46, 57, 62, 0.83);
}
#navbar {
  background-color: #102027;
  font-family: 'Maven Pro', sans-serif;
}
#navbar a {
  color: #e2f1f8;
}
#navbar a:hover {
  background-color: rgba(46, 57, 62, 0.83);
}
div.col-md-12 {
  padding-right: 2vw;
  padding-left: 2vw;
}
#carousel {
  max-height: 50vh;
}
#carousel .col-md-12 {
  max-height: 100%;
  background-color: #000000;
}
.carousel-indicators * {
  max-width: 3vw;
  max-height: 3vw;
}
.create-new {
  color: #f4511e;
}
.control-label {
  font-size: 20px;
  color: white;
}
#loginModal,
#registerModal {
  background-color: rgba(255, 162, 112, 0.4);
}
#loginModal .modal-header,
#registerModal .modal-header {
  background-color: #c75b39;
  color: #e0e0e0;
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
}
#loginModal .modal-body,
#registerModal .modal-body {
  background-color: rgba(207, 216, 220, 0.7);
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
}
#loginModal .btn,
#registerModal .btn {
  background-color: #102027;
  color: #e0e0e0;
}
#loginModal .btn:hover,
#registerModal .btn:hover {
  background-color: #FFBB93;
  color: #101f27;
}
@media (max-width: 767px) {
  #sign-up {
    margin-right: 0;
  }
  .landing-nav {
    margin-top: -8px;
  }
  #browse {
    position: absolute;
    top: 1;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-right {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2.5px;
  }
}
@media (max-width: 475px) {
  a.nav-item.nav-link,
  div.dropdown-menu.show,
  div.dropdown-menu {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 0;
  }
  #nav-responsive {
    font-size: 15px;
    margin-right: 0;
    padding: 15px 5px;
  }
  #sign-up,
  #log-in {
    padding: 15px 5px;
    font-size: 15px;
  }
  #browse {
    position: absolute;
    font-size: 15px;
    top: 1;
    padding: 15px 5px;
  }
  .navbar-right {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2.5px;
  }
  .carousel h3 {
    font-size: 16px;
  }
  #artistCarouselPic,
  #eventCarouselPic,
  #userCarouselPic {
    max-width: 40%;
    max-height: 40%;
  }
}
@media (max-width: 350px) {
  #artistCarouselPic,
  #eventCarouselPic,
  #userCarouselPic {
    max-width: 30%;
    max-height: 30%;
  }
}
