html {
  background-color: #eceff1;
}
#navbar {
  background-color: #102027;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.5em;
}
#navbar a {
  color: #e2f1f8;
}
#navbar a:hover {
  background-color: rgba(46, 57, 62, 0.83);
}
#home-message {
  color: white;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
}
#like-button,
#event-button {
  background-color: #607d8b;
  color: white;
  border: none;
}
#like-button:hover,
#event-button:hover {
  background-color: #8eacbb;
  transition: .5s ease;
}
#logout {
  background-color: #ff7043;
  color: white;
}
#logout:hover {
  background-color: #ffa270;
  transition: .5s ease;
}
#edit-user:hover,
#edit-artist:hover,
#edit-event:hover {
  color: white;
  transition: .5s ease;
}
a,
#user-carousel,
#artist-carousel,
#event-carousel {
  text-decoration: none;
  color: white;
}
a:hover,
#user-carousel:hover,
#artist-carousel:hover,
#event-carousel:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* INDEXES */
.indexHeader {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}
.indexHeader:hover {
  text-decoration: none;
}
.indexLink {
  font-family: 'Maven Pro', sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.indexLink:hover {
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* Container holding the image and the text */
#artistListPic,
#eventListPic,
#userListPic {
  border-radius: 200px;
}
.picContainer-fluid {
  flex-flow: wrap;
  position: relative;
  text-align: center;
}
.picContainer-fluid:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  border-radius: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(98, 114, 123, 0.75);
}
.container-fluid {
  background-color: ##cfd8dc;
}
#card-hovercard {
  padding: 10px 5px;
  align-content: center;
  border-style: none;
  background-color: ##cfd8dc;
}
.card-background {
  align-content: center;
}
.card-info {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.5em;
}
.card-info a:hover {
  text-decoration: none;
}
#stars:hover {
  color: white;
}
#favorites,
#artists,
#members {
  background-color: #73767F;
  color: white;
}
#createdEvents,
#following,
#eventArtists {
  background-color: #ADB2BF;
  color: white;
}
#going,
#affiliatedArtists,
#fans {
  background-color: #CFD5E5;
  color: white;
}
.jumbotron {
  background-color: transparent !important;
}
#homepage-jumbo,
#index-jumbo {
  background-color: #62717b;
}
#homepage-jumbo h1,
#index-jumbo h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 5em;
  color: #e2f1f8;
}
#homepage-jumbo p,
#index-jumbo p {
  font-family: 'Maven Pro', sans-serif;
  color: #e2f1f8;
}
#loginModal,
#registerModal {
  background-color: rgba(255, 162, 112, 0.4);
}
#loginModal .modal-header,
#registerModal .modal-header {
  background-color: #c75b39;
  color: #e0e0e0;
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
}
#loginModal .modal-body,
#registerModal .modal-body {
  background-color: rgba(207, 216, 220, 0.7);
  font-family: 'Maven Pro', sans-serif;
  text-transform: uppercase;
}
#loginModal .btn,
#registerModal .btn {
  background-color: #102027;
  color: #e0e0e0;
}
#loginModal .btn:hover,
#registerModal .btn:hover {
  background-color: #FFBB93;
  color: #101f27;
}
