<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>User Index Page</h1>
	</header>
	<main>
		<h2>List of Users</h2>
		<ul>
			<%for (let i = 0; i < users.length; i++) {%>
				<li><a href="/user/<%=users[i].id%>"><%=users[i].username%></a></li>
			<%}%>
		</ul>
	</main>


</body>
</html>