<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>User Profile</h1>
		<nav>
			<nav>
      	 		<button class="btn btn-outline-info btn-lg"><a href="/">Browse</a></button>
      	  		<button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>
      		</nav>
			<h6>Want to create an event?</h6>
			<button type="button" class = "" name="createArtist"><a href="/artist/new">Become an artist!</a></button>
			<button type="button" name="artistIndex"><a href="/artist">Browse Artists</a></button> 
		</nav>
	</header>
	<main>
		<h2>List of Users</h2>
		<ul>
			<%for (let i = 0; i < users.length; i++) {%>
				<li><a href="/user/<%=users[i].id%>"><%=users[i].username%></a></li>
			<%}%>
		</ul>
	</main>


</body>
</html>
