<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>User Index Page</h1>
		<nav>
			<h6>Want to create an event?</h6>
			<button type="button" class = "" name="createArtist"><a href="/artist">Become an artist!</a></button>
			<a href="/artist">Artist</a>
		</nav>
	</header>
	<main>
		<h2>List of Users</h2>
		<ul>
			<%for (let i = 0; i < users.length; i++) {%>
				<li><a href="/user/<%=users[i].id%>"><%=users[i].username%></a></li>
			<%}%>
		</ul>
	</main>


</body>
</html>
