<!DOCTYPE html>
<<<<<<< HEAD
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/artist/<%=index%>?_method=PUT" method="POST"><br />
      <input type="text" name="name" placeholder="name"><br />
      <input type="text" name="genre" placeholder="genre"><br />
      <input type="text" name="location" placeholder="location"><br />
      <input type="text" name="website" placeholder="website"><br />
      <input type="text" name="img" placeholder="img link"><br />
      <textarea name="name" rows="4" cols="40">Description</textarea><br />
      <button type="submit" name="button">Edit artist</button>
    </form>
  </body>
</html>
=======
<html>
<head>
	<title></title>
</head>
<body>

	<header>
		<h1>Artist Edit Page</h1>
		<nav>
			<button class="btn btn-outline-info btn-lg"><a href="/">Browse</a></button>
			<button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>
		</nav>	
	</header>

	<main>
		
	</main>

</body>
</html>
>>>>>>> c25fe163314370972a66cb619944050573c95e57
