<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body>


  <header>

    <h1>Artist Profile</h1>

      <nav>
        <button class="btn btn-outline-info btn-lg"><a href="/artist">Browse</a></button>
        <button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>
      </nav>

  </header>

			<main>
				<h2>List of Artists</h2>
				<ul>
					<%for (let i = 0; i < artists.length; i++) {%>
						<li><a href="/artist/<%=artists[i].id%>"><%=artists[i].name%></a></li>
					<%}%>
				</ul>
			</main>




</html>
