<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

<body>

	<h1>Artist Index Page</h1>



  <form class="" action="/artist/<%= artist.id %>" method="post"><br />
    <input type="text" name="name" placeholder="name"><br />
    <input type="text" name="genre" placeholder="genre"><br />
    <input type="text" name="location" placeholder="location"><br />
    <input type="text" name="website" placeholder="website"><br />
    <input type="text" name="img" placeholder="img link"><br />
    <textarea name="name" rows="4" cols="40">Description</textarea><br />
    <button type="submit" name="button">Create artist</button>
  </form>

</html>
