<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  	<header>

	    <h1>Artist New Page</h1>

	      <nav>
	        <button class="btn btn-outline-info btn-lg"><a href="/">Browse</a></button>
	        <button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>
	      </nav>

 	   </header>



    <main>

      <h4>Create New Artist</h4>

      <form action="/artist" method="POST"><br />

        <input type="text" name="name" placeholder="name"><br />
        <input type="text" name="genre" placeholder="genre"><br />
        <input type="text" name="location" placeholder="location"><br />
        <input type="text" name="website" placeholder="website"><br />
        <input type="text" name="img" placeholder="img link"><br />
        <textarea name="description" rows="4" cols="40" placeholder="Description"></textarea><br />

        <button type="submit" name="button">Create artist</button>

      </form>

    </main>



  </body>
</html>
