<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  	<header>

	    <h1>Artist Show Page</h1>

	      <nav>
	        <button class="btn btn-outline-info btn-lg">Browse</button>
	        <button class="btn btn-outline-info btn-lg">User Profile</button>
	      </nav>

 	</header>

 	<main>

 		<h4>Your Created Events</h4>
   		<button type="button" name="event"> <a href="/event">Create New Event</a></button>
   		<button type="button" name= "user"><a href="/user">Back to Browsing</a> </button>

 	</main>

  <footer>
      <button type="button" name="button"> <a href="/artist/edit"></a>Edit Artist</button>
      <button type="button" name="button">Delete Artist</button>
  </footer>
  </body>
</html>
