<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    
    <h4>Your Created Events</h4>
    <button type="button" name="event"> <a href="/event">Create New Event</a></button>
    <button type="button" name= "user"><a href="/user">Back to Browsing</a> </button>

  </body>
</html>
