<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<header>

    	<h1>Event Edit Page</h1>

      	<nav>
<<<<<<< HEAD

          <button class="btn btn-outline-info btn-lg"><a href="/artist">Browse</a></button>
          <button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>
          
=======
          
          <button class="btn btn-outline-info btn-lg"><a href="/artist">Browse</a></button>
          <button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>

>>>>>>> 522d873d74817e898fd6e67be1f4ab4a0128ee3b
        </nav>

  	</header>

  	<main>

  	</main>

</body>
</html>
