<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<header>

    	<h1>Event Edit Page</h1>

      	<nav>

          <button class="btn btn-outline-info btn-lg"><a href="/artist">Browse</a></button>
          <button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>
          
        </nav>

  	</header>

  	<main>

  	</main>

</body>
</html>
