<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<header>

    	<h1>Event Index Page</h1>

      	<nav>
          <button class="btn btn-outline-info btn-lg"><a href="/artist">Browse</a></button>
          <button class="btn btn-outline-info btn-lg"><a href="/user">User Profile</a></button>
        </nav>

  	</header>

  	<main>
				<h2>List of Events</h2>
				<ul>
					<%for (let i = 0; i < event.length; i++) {%>
						<li><a href="/event/<%=event[i].id%>"><%=events[i].name%></a></li>
					<%}%>
				</ul>
  	</main>

</body>
</html>
